DATABASE_URL="postgresql://user:password@localhost:5432/automation_playground"
DATABASE_URL_TEST="postgresql://user:password@localhost:5432/automation_playground_test"
JWT_SECRET="change_me_access_secret_32chars_min"
JWT_REFRESH_SECRET="change_me_refresh_secret_32chars_min"
PORT=3000
FRONTEND_URL="http://localhost:5173"
NODE_ENV="development"
